<!-- Button zum Ein- und Ausklappen der ToDo-Liste -->
<div>
  <button (click)="toggleCollapse()">Toggle</button>
</div>

<!-- ToDo-Liste wird angezeigt, wenn showTodos true ist -->
<div *ngIf="showTodos" class="todo-container">
  <!-- Iteration über alle ToDos -->
  <div *ngFor="let todo of todos; let i = index" class="todo-card" [attr.id]="'todo_' + sanitizeId(todo.text)">
    <div class="image-placeholder">
      <img *ngIf="todo.image" [src]="todo.image" alt="User Image">
    </div>
    <div class="todo-content">
      <h3>{{ todo.titel || todo.text }}</h3>
      <p>{{ todo.description }}</p>
      <p *ngIf="todo.dueDate">Fällig: {{ todo.dueDate | date:'shortDate' }}</p>
      <button (click)="editImage(i)">Bild bearbeiten</button>
      <button (click)="removeTodo(i)">Löschen</button>
    </div>
  </div>
</div>

<!-- Formular zum Hinzufügen eines neuen ToDos -->
<div class="todo-form">
  <h2>Neue Aufgabe hinzufügen</h2>
  <form (ngSubmit)="addTodo()">
    <label for="titel">Titel:</label>
    <input type="text" id="titel" [(ngModel)]="todoInput" name="titel" required>

    <label for="description">Beschreibung:</label>
    <textarea id="description" [(ngModel)]="newTodo.description" name="description"></textarea>

    <label for="image">Bild-URL:</label>
    <input type="text" id="image" [(ngModel)]="imageInput" name="image">

    <label for="dueDate">Fälligkeitsdatum:</label>
    <input type="date" id="dueDate" [(ngModel)]="todoDateInput" name="dueDate">

    <button type="submit">Aufgabe hinzufügen</button>
  </form>
  <button (click)="todos = []; saveTodos()">Alle Aufgaben löschen</button>
</div>

<router-outlet></router-outlet>

<!-- Bildbearbeitungsbereich mit Cropper -->
<!-- Bildbearbeitungsbereich mit Cropper -->
<div class="cropper-wrapper" *ngIf="showCropper && imageToEdit">
  <app-cropper-functions [imageSrc]="imageToEdit" [shape]="cropShape" (cropped)="onCropped($event)">
  </app-cropper-functions>

  <div class="controls">
    <button (click)="cancelCrop()">Abbrechen</button>
  </div>
</div>



<a routerLink="/admin-contact">Admin Kontakte</a>

<button class="btn btn-sm btn-primary" (click)="showCamera = true">📷 Kamera starten</button>
<app-camera-functions *ngIf="showCamera" (captured)="onCameraImage($event)"></app-camera-functions>

<button (click)="toggle('calendar')" class="btn btn-sm btn-outline-primary">📅 Kalender anzeigen</button>
<app-calendar *ngIf="showCalendar"></app-calendar>

<button (click)="toggle('cropper')" class="btn btn-sm btn-outline-secondary">✂️ Bild bearbeiten</button>
